<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分类新增</title>
  <link href="../../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航栏-->
  <div th:replace="nav::nav"></div>
  <div class="m-padded-tb-hugex">
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" class="teal active item">新增</a>
        <a href="#" class="item">列表</a>
      </div>
    </div>
  </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-massive">
    <div class="ui container" th:switch="${id}" th:object="${link}">
<!--      新增表单-->
      <form action="#" method="post" th:case="null" th:action="@{/links}" class="ui form">
        <input type="hidden" name="id" th:value="*{id}">
        <div class=" field">
          <div class="ui left labeled input m-margin-top">
            <label class="ui teal basic label">博客名称</label>
            <input type="text" name="blogname" placeholder="博客名称" th:value="*{blogname}">
          </div>
          <div class="ui left labeled input m-margin-top">
            <label class="ui teal basic label">博客地址</label>
            <input type="text" name="blogaddress" placeholder="博客地址" th:value="*{blogaddress}">
          </div>
          <div class="ui left labeled input m-margin-top">
            <label class="ui teal basic label">图片地址</label>
            <input type="text" name="pictureaddress" id="pictureaddress" placeholder="图片地址" th:value="*{pictureaddress}">
          </div>
          <div class="ui left labeled input m-margin-top" style="height: 200px">
            <label class="ui teal basic label" style="line-height: 200px">预览</label>
            <img id="preview" src=""  style="object-fit: contain;width: inherit"/>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button class="ui teal submit button">提交</button>
        </div>
      </form>
<!--    编辑表单-->
      <form action="#" method="post" th:case="*" th:action="@{/links/{id}(id=${link.id})}" class="ui form">
        <input type="hidden" name="id" th:value="*{id}">
        <div class=" field">
          <div class="ui left labeled input m-margin-top">
            <label class="ui teal basic label">博客名称</label>
            <input type="text" name="blogname" placeholder="博客名称" th:value="*{blogname}">
          </div>
          <div class="ui left labeled input m-margin-top">
            <label class="ui teal basic label">博客地址</label>
            <input type="text" name="blogaddress" placeholder="博客地址" th:value="*{blogaddress}">
          </div>
          <div class="ui left labeled input m-margin-top">
            <label class="ui teal basic label">图片地址</label>
            <input type="text" id="pictureaddress" name="pictureaddress" placeholder="图片地址" th:value="*{pictureaddress}">
          </div>
          <div class="ui left labeled input m-margin-top"  style="height: 200px">
            <label class="ui teal basic label" style="line-height: 200px">预览</label>
            <img id="preview" src=""  style="object-fit: contain;width: inherit"/>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button class="ui teal submit button">提交</button>
        </div>
      </form>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--底部栏-->
  <div th:insert="footer::foot"></div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <th:block th:replace="footer::runtime" />
  <script>
    $('#pictureaddress').blur(function () {
        // console.log($('#pictureaddress').val())
      $('#preview').attr("src",$('#pictureaddress').val())
    })


    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    $('.ui.form').form({
      fields : {
        title : {
          identifier: 'namedd',
          rules: [{
            type : 'empty',
            prompt: '请输入分类名称'
          }]
        }
      }
    });
  </script>
</body>
</html>