<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GJINGLIN-照片墙</title>
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="../css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">

    <link rel="stylesheet" href="../static/lib/picture/css/jkresponsivegallery.css" th:href="@{/lib/picture/css/jkresponsivegallery.css}">
</head>
<body>

<!--导航-->
    <div th:replace="indexnav::nav"></div>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%" >
    <img src="../static/images/picturebg.jpg" th:src="@{/images/picturebg.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">日落尤其温柔，人间皆是浪漫</div>
        </div>
    </div>
</div>


<!--照片墙-->
<div id="picture-main">

    <article class="thumb" th:each="picture:${pictures}">
        <div class="ma5-gallery">
            <div class="rthumbnail">
                <a href="/images/backimg1.jpg" th:href="@{${picture.pictureaddress}}">
                    <img class="picture-zmki_px" src="/images/backimg1.jpg" th:src="@{${picture.pictureaddress}}">
                </a>
                <div class="m-picture-text" th:text="${picture.picturename}">起风了</div>
                <div  class="rcaption">
                    <div style="font-size: large;" th:text="${picture.picturename}"></div>
                    <div style="font-size: small" class="m-margin-top" th:text="${picture.picturetime}"></div>
                    <p style="font-size: small"  th:text="${picture.picturedescription}"></p>
                </div>
            </div>
        </div>
    </article>

</div>


<!--底部栏-->
    <div th:insert="footer::foot"></div>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/semantic.main.js"></script>
<script src="../static/lib/picture/js/jquery.min.js" th:src="@{/lib/picture/js/jquery.min.js}"></script>
<script src="../static/lib/picture/js/jkresponsivegallery.js" th:src="@{/lib/picture/js/jkresponsivegallery.js}"></script>
    <th:block th:replace="footer::runtime" />
<script>
    $(function() {
        $('.rthumbnail').responsivegallery();
    });

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
  </script>
</body>
</html>