<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GJINGLIN-时间轴</title>
  <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../css/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
</head>
<body>

  <!--导航-->
  <div th:replace="indexnav::nav"></div>
<!--时间轴内容-->
  <div class="doc-container m-padded-tb-massivex m-opacity" id="doc-container">
      <th:block >
        <section class="timeline">
          <ul>
            <li class="" th:each="query:${queries}">
              <div>
                <time th:text="${#dates.format(query.createTime,'yyyy-MM-dd')}">2020/01/01</time>
                <div class="scientist">
                    <a href="#" target="_blank" th:href="@{/blog/{id}(id=${query.id})}">
                      <h3 class="state" style="text-align:center;font-size: 16px;color: #000;" th:text="${query.title}">文章标题</h3>
                    </a>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </th:block>
  </div>
  <!--底部栏-->
  <div th:insert="footer::foot"></div>
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/semantic.min.js"></script>
  <script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>
  <th:block th:replace="footer::runtime" />
  <script>

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
  </script>
</body>
</html>